extends layout

block content
  h1= title
  p Ready to play
  p Welcome user #{user.UID}
  p Class name #{user.className}
  p Speed #{user.speed}
  p Bomb amount #{user.bomb_amount}
  p Bomb range #{user.bomb_range}
  p Lifes #{user.lifes}
